@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "primeicons/primeicons.css";

.p-image-preview-indicator {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem;
}

.p-paginator {
  padding: 0;
}

.p-toast {
  width: 90%;
  max-width: 400px;
}

.p-progress-spinner {
  width: 75px;
  height: 75px;

  @media (min-width: 576px) {
    width: 100px;
    height: 100px;
  }
}
